.addTodo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    /* background-color: red; */
    height:88vh;
}
.addTodo form {
    height:30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}
.addTodo form > * {
    font-size: 20px;
}
.addTodo form button {
    background-color: rgb(2, 0, 36);
    color:white
}